.chattingListContainer {
    /* border: solid 1px black; */
    padding-top: 1px;
}

.chattingListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px rgb(168, 168, 168);
}

.chattingListTitle {
    font-weight: 600;
    margin-right: auto;
}

.chattingListCreate {
    margin-left: 15px;
}

.chattingListCreate:hover {
    transform: scale(1.1);
}

.chattingListSettings {
    margin-left: 15px;
    margin-right: 5px;
}

.chattingListSettings:hover {
    transform: scale(1.1);
}


.chattingBackToListButton {
    position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
    margin: 15px 10px 10px 10px;
    color: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .chattingBackToListButton:hover {
    color: #0056b3;
  }
  




.chattingList:hover {
    /* border: solid 1px black; */
    background-color: #f0f0f0;
}

.chattingList {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.chattingListProfile {
    margin-right: 20px;
}

.chattingListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chattingRoomTitle {
    font-weight: bold;
    margin-bottom: 4px;
}

.chattingRoomLastMessage {
    color: #666;
    font-size: 14px;
}