.chattingMessages {
  position: relative;

  padding: 50px 10px 5px 2px;
  margin: 20px;
  
}


.messageContainer {
  display: flex;
  margin-bottom: 1rem;
}

.messageContainer.my {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.messageContainer.others {
  display: flex;
  align-items: flex-start; /* Avatar와 MessageInfo의 상단을 맞추기 위해 설정 */
  margin-bottom: 1rem;
}

.messageContent {
  display: inline-block;
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  word-wrap: break-word;
}



.othersMessageInfo {
  display: flex;
  flex-direction: column; /* 위아래로 정렬 */
  flex: 1;
}

.recieverAvatar {
  font-size: 10px;
  margin: 3px 10px 0 0; 
}

.othersMessageSender {
  /* font-weight: bold; */
  font-weight: 500;
  font-size: 15px;
  margin: 0 0 5px 7px;
  color: #333;
}

.messageContainer.my .messageContent {
  background-color: #e7f3ff;
  color: #0056b3;
}

.messageContainer.others .messageContent {
  background-color: #f3f4f6;
  color: #1f2937;
}



.chattingMessageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px rgb(207, 207, 207);
  position: absolute;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: rgba(255, 255, 255);
  
  z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.chattingMessageTitle {
  position: absolute; /* 절대 위치 지정 */
  font-size: 17px;
  font-weight: 600;
}

.chattingMessageCreate {
  margin-left: auto;
  margin-right: 10px;
}

.chattingMessageCreate:hover {
  transform: scale(1.1);
}

.chattingMessageSettings {
  margin-right: 5px;
}

.chattingMessageSettings:hover {
  transform: scale(1.1);
}




