.chattingListContainer {
    /* border: solid 1px black; */
    padding-top: 1px;
}

.chattingList:hover {
    /* border: solid 1px black; */
    background-color: #f0f0f0;
}

.chattingList {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.chattingListProfile {
    margin-right: 20px; /* 프로필과 콘텐츠 사이의 간격 조절 */
}

.chattingListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chattingListTitle {
    font-weight: bold;
    margin-bottom: 4px; /* 제목과 마지막 메시지 사이의 간격 조절 */
}

.chattingListLastMessage {
    color: #666; /* 마지막 메시지의 색상 조정 */
    font-size: 14px;
}