.chattingListContainer {
    /* border: solid 1px black; */
    padding-top: 1px;
}

.chattingListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: -1px;
    border-bottom: solid 1px rgb(168, 168, 168);
}

.chattingListTitle {
    font-weight: 600;
    margin-right: auto;
}

.chattingListCreate {
    margin-left: 15px;
    margin-right: 15px;
}

.chattingListCreate:hover {
    transform: scale(1.1);
}

.chattingListSettings {
    margin-right: 5px;
}

.chattingListSettings:hover {
    transform: scale(1.1);
}

.chattingBackToListButton {
    position: absolute;
    margin: 15px 10px 10px 10px;
    color: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chattingBackToListButton:hover {
    color: #0056b3;
}

.chattingList {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
    /* padding: 20px; */
    border-bottom: solid 1px rgb(206, 206, 206);
}

.chattingList:hover {
    /* border: solid 1px black; */
    background-color: #f0f0f0;
}

.chattingListInside {
    /* margin: 20px; */
    padding: 20px;
    display: flex;
    min-width: 380px;
}

.chattingListProfile {
    margin-right: 20px;
    position: relative;
    min-width: 50px;
    height: 50px;
}

.chattingListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chattingRoomTitle {
    font-weight: bold;
    margin-bottom: 4px;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chattingRoomLastMessage {
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.chattingListAlarmBadge {
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.messageTime {
    width: 55px;
    color: #a1a1a1;
    font-size: 0.75em;
    /* margin-top: 5px; */
    /* margin-bottom: 3px; */
    /* margin-left: 10px; */
    margin-right: 10px;
    /* align-self: flex-end; */
  }

.noChatroom {
    margin-top: 50px;
    text-align: center;
    color: #888;
    font-size: 16px;
}

/* 모달 */
.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 30px 25px 25px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 1001;
    margin-top: -100px;
}

.modalTitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.modalInput {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 17px;
}

.modalInput input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    outline: none;
}

.modalButton {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 버튼 간의 간격 조정 */
}

.modalButton button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    transition: background-color 0.3s;
}

.modalButton button:hover {
    background-color: #d7dce0;
}

.modalButton button:nth-child(2) {
    color: white;
    background-color: #1586fffa;
}

.modalButton button:nth-child(2):hover {
    background-color: #0056b3;
}


.avatar {
    position: absolute;
    width: 30px;
    height: 30px;
}

