.searchBarContainer {
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    /* 오토 말고 중앙정력 따로 해여돼 */
    display: flex;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background-color: #fff;
}

.searchBarContent {
    width: 100%;
    display: flex;
    align-items: center;
}

.searchBarIcon {
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

.searchButton {
    border: none;
    background: none;
    cursor: pointer;
    color: #999999;
}

.searchButton:hover {
    color: #007bff;
}