.myPageContainer {
  display: flex;
  margin: 50px 50px 50px 50px;
  /* width: 100%; */
  font-family: 'Noto Sans KR', sans-serif;
}

.myPageSidebarFrame {
  /* border: solid 2px; */
  border-color: #DEFFF5;
  /* margin: 50px 20px 50px 20px; */
  display: flex;
  justify-content: center;
  width: 220px;
  height: 823.45px;
  /* min-width: 180px; */
}
.myPageSidebar{
  width: 180px;
  height: 823.45px;
}

.myPageContent {
  margin-left: 30px;
  padding: 50px 50px 50px 50px;
  /* margin: 10px 10px 10px 10px; */
  /* border: solid 2px; */
  /* border-color: #DEFFF5; */
  box-shadow: 0px 4px 12px hsl(0deg 0% 0%/0.07);
  min-width: 500px;
  width: 1080px;
}
