.formContact {
    width: 1000px;
    min-width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  

  
  .formTitle {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    align-self: flex-start;
  }
  
  .infoBox {
    background-color: #e4e4e4;
    display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 1167px;
    align-items: flex-start;
    color: #000;
    flex-wrap: wrap;
    padding: 25px;
  }

  .infoHeader {
    display: flex;
    gap: 11px;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1;
  }
  
  .infoLabel {
    justify-content: start;
    margin: auto 0;
  }
  
  .infoContent {
    margin-top: 20px;
    /* font-size: 20px; */
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;
    width: 990px;
    flex-basis: auto;
    padding-left: 40px;
  }
  
  .divider {
    background-color: rgba(0, 0, 0, 0.49);
    width: 100%;
    max-width: 1167px;
    height: 1px;
    margin-top: 40px;
  }

  .formSubtitle {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    align-self: flex-start;
    margin: 50px 0 35px 50px;
  }

  .inputGroup {
    display: flex;
    max-width: 80%;
    font-weight: 400;
    line-height: 1;
    flex-wrap: wrap;
    margin: 25px 0 0 22px;
  }
  
  .inputLabel {
    justify-items: start;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #000;
    margin: auto;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    color: #b3b3b3;
    justify-content: flex-start;
  }

  
  .input {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background-color: #fff;
    min-width: 240px;
    min-height: 43px;
    width: 384px;
    max-width: 100%;
    gap: 12px;
    overflow: hidden;
    padding: 13px 16px;
    border: 1px solid #d9d9d9;
  }
  
  .buttonGroup {
    display: flex;
    margin-top: 30px;
    width: 100%;
    max-width: 1167px;
    gap: 20px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button {
    width: 100px;
    border-radius: 8px;
    background-color: #5A8AF2;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    justify-content: center;
    padding: 12px;
    border: 1px solid #5A8AF2;
  }

  .buttonText {
    color: #fff;
    align-self: stretch;
    margin: auto 0;
  }