.formContact {
  width: 1000px;
  min-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 20px; /* 내부 여백 추가 */
  gap: 20px; /* 각 섹션 간의 간격 조절 */
}

.formTitle {
  color: #000;
  font-size: 24px; /* 폰트 크기를 조금 줄임 */
  font-weight: 700;
  line-height: 1.2; /* 줄 간격을 조금 더 늘림 */
  align-self: flex-start;
  margin-bottom: 10px; /* 제목과 내용 사이 간격 줄임 */
}

.infoBox {
  background-color: #e4e4e4;
  display: flex;
  margin-top: 20px; /* 위쪽 마진 줄임 */
  width: 100%;
  max-width: 1167px;
  align-items: flex-start;
  color: #000;
  flex-wrap: wrap;
  padding: 20px; /* 패딩 줄임 */
  gap: 15px; /* 내부 요소 간격 조절 */
}

.infoHeader {
  display: flex;
  gap: 11px;
  font-size: 14px; /* 폰트 크기를 조금 줄임 */
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.2; /* 줄 간격을 조금 더 늘림 */
}

.infoLabel {
  justify-content: start;
  margin: auto 0;
}

.infoContent {
  margin-top: 10px; /* 위쪽 마진 줄임 */
  font-size: 16px; /* 폰트 크기를 조금 줄임 */
  font-weight: 400;
  line-height: 1.4; /* 줄 간격을 조금 더 늘림 */
  flex-grow: 1;
  width: 950px; /* 너비 줄임 */
  flex-basis: auto;
  padding-left: 20px; /* 왼쪽 패딩 줄임 */
}

.interviewContent {
  margin-top: 20px; /* 위쪽 마진 줄임 */
}