.formContact {
  width: 1000px;
  min-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 20px; /* 내부 여백 추가 */
  gap: 20px; /* 각 섹션 간의 간격 조절 */
}

.formTitle {
  color: #000;
  font-size: 24px; /* 폰트 크기를 조금 줄임 */
  font-weight: 700;
  line-height: 1.2; /* 줄 간격을 조금 더 늘림 */
  align-self: flex-start;
  margin-bottom: 10px; /* 제목과 내용 사이 간격 줄임 */
}

.infoBox {
  /* background-color: #e4e4e4; */
  border-radius: 8px;
  justify-content: flex-start;
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 1167px;
  align-items: flex-start;
  color: #000;
  /* flex-wrap: wrap; */
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 30px;
  padding-right: 120px;
}

.infoHeader {
  height: 40px;
  width: 90px;
  display: flex;
  gap: 11px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  margin-left: 38px;
}

.infoLabel {
  font-size: 20px;
  justify-content: start;
  margin: auto 0;
}

.infoContent {
  margin-top: 10px;
  font-weight: 400;
  line-height: 20px;
  height: 100px;
  width: 800px;
  padding-left: 40px;
  color: #616161;
}

.interviewContent {
  margin-top: 20px; /* 위쪽 마진 줄임 */
}