.proofreadButton {
  background-color: #5A8AF2;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px !important;
  cursor: pointer;
  margin-bottom: 15px;
  align-items: end;
  margin-left: 550px;
  width: 118px;
  height: 40px;
}

.proofreadButton:hover {
  background-color: #0056b3;
}

.aiproofreadButton {
  background-color: white;
  color: #5A8AF2;
  padding: 8px 16px;
  border: 2px solid #ced4da;
  border-radius: 4px;
  font-size: 14px !important;
  font-weight: bold;
  cursor: pointer;
  width: 115px;
  
  
}

.aiproofreadButton:hover {
  background-color: #0056b3;
  color: white;
}

.proofreadSidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 16px;
}

.proofreadSidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 16px;
}
.aiproofreadSidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 565px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 16px;
}
.proofreadSidebar.open {
  right: 0;
}
.aiproofreadSidebar.open {
  right: 0;
}
.sidebarHeader {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sidebarHeader h3 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
  color: #343a40;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #343a40;
  padding-left: 80px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.sidebarContent {
  overflow-y: auto;
  max-height: calc(100% - 50px);
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: lighter !important;
  white-space: pre-wrap; /* 줄 바꿈을 유지하기 위해 추가 */
}
.resultItem {
  padding: 10px 0;
  border-bottom: 2px dashed #a9afb4; /* 점선 추가 */
  margin-right: 20px;
  margin-bottom: 15px;
  position: relative;
}

.resultItem:last-child {
  border-bottom: none; /* 마지막 항목에는 점선을 추가하지 않음 */
}

.resultItem p {
  margin-bottom: 5px; /* 문장 사이에 10px 간격을 추가 */
  margin-left: 20px; /* 동그라미 크기만큼 왼쪽 여백 추가 */
}

.resultItem p:last-child {
  margin-bottom: 15px; /* 마지막 문장에는 간격을 추가하지 않음 */
}

/* 맞춤법 검사 결과에만 동그라미 기호 추가 */
.proofreadSidebar .resultItem p:first-of-type::before {
  content: "•";
  color: black;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(4px); /* 텍스트 높이에 맞게 동그라미 위치 조정 */
}
.aiproofreadSidebar .resultItem p:first-of-type::before {
  content: none;
}
.aiproofreadSidebar .resultItem p {
  margin-left: 5px; /* 동그라미 크기만큼 왼쪽 여백 추가 */
}