.resumecontainer {
  position: relative;
  overflow: visible;
  width: 760px;
  background-color: #ffffff;
  padding: 30px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 400px;
}

.h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.filteroptions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filteroption {
  font-size: 13px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.newresumebutton {
  display: flex;
  flex-direction: column;
}

.newresumebutton button {
  height: 59.95px;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  font-size: 15px !important;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
}

.newresumebutton button:hover {
  border-color: #5A8AF2;
}

.resumeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.resumeTitleContainer {
  display: flex;
  align-items: center;
}

.resumeDateContainer {
  display: flex;
  align-items: center;
}

.resumeright {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  height: 100%;
}

.resumedate {
  color: #666;
  font-size: 14px;
  margin-right: 10px;
}

.resumetext {
  font-size: 16px;
  margin-top: 0; /* 상단 마진 제거 */
}

.resumeicon {
  margin-right: 8px; /* 아이콘과 제목 사이의 간격을 조절 */
  margin-top: 0; /* 상단 마진 제거 */
}

.resumeactions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.subbutton {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 5px;
  background-color: #5A8AF2;
  color: white;
  border: 1px solid #5A8AF2 !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px !important;
  margin-bottom: 5px;
  margin-right: 5px !important;
}

.subbutton:hover {
  background-color: #0056b3;
}

.resultbutton {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5A8AF2 !important;
  color: white !important;
}

.accordioncontainer {
  margin-top: 10px;
}

.accordioncontainer .MuiAccordionroot {
  margin-bottom: 10px;
}

.hrStyles {
  border-top: 1px solid #8d8d8d;
}

.customaccordion {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-bottom: 10px;
}

.customaccordion:hover {
  border-color: #5A8AF2; /* 다른 박스와 동일한 보더 색상 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 보더와 어울리는 그림자 효과 */
}

.newbox {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newbox span {
  font-size: 14px;
}

.newbox div {
  padding: 5px 10px;
  background-color: #fcfcfc;
  color: #5A8AF2;
  border-radius: 5px;
  font-size: 14px !important;
  cursor: default;
}

.proofreaddate {
  margin-left: auto;
  color: #929191;
  font-size: 14px;
  align-self: center;
}

.searchInput {
  width: 60% !important;
  padding: 10px;
  margin: 20px auto 0 auto; /* 상단 마진 20px, 좌우 자동 정렬 */
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  display: block; /* 블록 요소로 변환하여 가운데 정렬 가능하게 함 */
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50px;
}

.activePage {
  background-color: #5A8AF2;
  color: white;
  border-color: #5A8AF2;
}

.formContainer {
  display: flex;
  justify-content: center;
  max-width: 1300px !important;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box; /* 폼 컨테이너 크기를 고정 */
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputWithIcon {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center !important;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
  margin-right: 10px;
}
.inputWithIcon:hover{
    border-color: #5A8AF2;
}
.inputWithIcon input {
  border: none !important;
  outline: none;
  flex: 1;
  font-size: 14px;
  flex-shrink: 0;
}

.inputWithIcon .icon {
  margin-right: 5px;
  color: #adb5bd;
}

.resumeTitleInput {
  font-size: 1em;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #5A8AF2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  margin-left: 10px;
  width: 80px;
  height: 36px;
}

.searchButton:hover {
  background-color: #0056b3;
}

.downButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #5A8AF2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  margin-left: 10px;
  width: 130px;
  height: 35px;
}
.downButton:hover{
  background-color: #0056b3;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  margin-left: 10px;
  width: 80px;
  height: 35px;
}
.deleteButton:hover {
  background-color: #5a6268;
}
.resetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  margin-left: 10px;
  width: 100px;
  height: 36px;
}

.resetButton:hover {
  background-color: #5a6268;
}

.aiProofreadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #5A8AF2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  margin-left: 2px;
  width: 120px;
  height: 35px;
}

.aiProofreadButton:hover {
  background-color: #0056b3;
}
.actionContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rightActions {
  display: flex;
  align-items: center;
}