.footer {
  padding: 20px 0;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* max-width: 1200px; */
  padding: 0 5%;
}

.footerLogo{
  display: flex;
  justify-content: flex-start;
  width:140px ;
  height: 30px;
  /* margin-left: 20px; */
}
.footermainLogo{
  width: 140px;
  height: 30px;
  display: flex;
  background-image: url('../../public/images/logosmall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footerEmpty{
  width:100px ;
  height: 85px;
  margin-right: 20px;
}

.footerInfoFrame{
  width:500px ;
  height: 85px;
  display: flex;
  flex-direction: column;
}

.logoSection {
  text-align: left;
  flex: 1;
}

.logoSection h4 {
  margin: 0;
  font-size: 20px;
}

.socialIconsSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.icon {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  /* background: #000; */
}
.gitIcon{
  height: 25px;
  width: 25px;
  background-image: url('../../public/images/gitHub.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.notionIcon{
  height: 25px;
  width: 25px;
  background-image: url('../../public/images/notion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menuLink {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}

.menuLink + .menuLink::before {
  content: "|";
  margin: 0 10px;
  color: #ddd;
}

.addressSection {
  align-self: center;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.addressSection p {
  margin: 5px 0;
  text-align: left;
}

.copyright {
  font-size: 14px;
  color: #777;
}