/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  body, * {
    font-family: 'Noto Sans KR', sans-serif !important;
  }

  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }