@keyframes slide {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1030px;
  background-size: cover;
  background-position: center;
  transition: background-image 2s ease-in-out;
  position: relative; /* 가상 요소를 위한 설정 */
  overflow: hidden; /* 가상 요소가 영역을 벗어나지 않도록 설정 */
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% 어둡게 */
  z-index: 1; /* 이미지보다 위에 표시되도록 설정 */
}

.mainImages {
  position: relative;
  width: 100%;
  height: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 2;
}
.image1, .image2, .image3, .image4, .image5 {
  background-size: cover; /* 여기서 cover 사용 */
  background-position: center;
  width: 100%; /* 추가 */
  height: 100%; /* 추가 */
}
.image1 {
  background-image: url('../../public/images/main1.jpg');
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url('../../public/images/main2.png');
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url('../../public/images/main3.png');
  background-size: cover;
  background-position: center;
}

.image4 {
  background-image: url('../../public/images/main4.png');
  background-size: cover;
  background-position: center;
}

.image5 {
  background-image: url('../../public/images/main5.png');
  background-size: cover;
  background-position: center;
}

.mainTitle {
  height: 120px;
  width: 500px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-image: url('../../public/images/logoWH.png');
  background-size: cover;
  background-position: center;
}

.mainSubtitle {
  margin-bottom: 50px;
  font-size: 20px;
  color: #92b4fd;
}

.mainButton {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: #5A8AF2;
  color: white;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1030px;
  background-color: #EBEBEB;
}
.mainIntroFrameW{
  width: 100%;
  height: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainIntroFrameH{
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainIntroTitleFrame{
  width: 1670px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.mainIntroTitle{
  font-size: 40px;
  font-weight: bold;
  /* margin-bottom: 5px; */
  margin-left: 10%;
}

.mainIntroBox {
  width: 100%;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover; /* 비율을 유지하면서 이미지가 박스를 완전히 덮도록 설정 */
  background-position: center; /* 이미지를 중앙에 배치 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  /* border-radius: 32px; */
  transition: background-image 1s ease-in-out; /* 부드러운 전환 */
  background-color: rgba(0, 0, 0, 0.5);
}

/* 슬라이드 이미지를 위한 클래스 */
.bgImage1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../../public/images/info01.jpg');
}

.bgImage2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../../public/images/info02.jpg');
}

.bgImage3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../../public/images/info03.jpg');
}

.bgImage4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../../public/images/info04.png');
}

.bgImage5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../../public/images/info05.png');
}

.mainIntroBoxIn{
  width: 1460px;
  height: 360px;
  display: flex;
  flex-direction: column;
}
.mainIntroBoxInTitle{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.mainIntroBoxInSubtitleFrame{
  height: 135px;
}
.mainIntroBoxInSubtitle{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
.mainIntroBoxInButtonFrame{
  height: 160px;
}
.mainIntroBoxInButton{
  display: flex;
  width: 124px;
  height: 45px;
  border-color: white;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.container3{
  width: 100%;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 223, 223);
}
.keyWordFrame{
  display: flex;
  justify-content: space-between;
  width: 1640px;
  height: 630px;
  /* background-color: #e7e7e7; */
}
.keyWordFrames{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1640px;
  height: 630px;

}
.keyWordFramesWide{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1640px;
  height: 630px;

}
/* 맨왼쪽위칸이랑 맨오른쪽 아래칸 공유  */
.keyWordBoxGrey{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: #5A8AF2;
  
}
.keyWordBoxGrey2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: #5A8AF2;
  background-image: url('/images/keyword6.png');
}
/* 맨오른쪽아래칸 왼쪽칸  */
.keyWordBoxWhite{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: #ffffff;
  padding-right: 23px;
  background-image: url('/images/keyword4.png');
  background-size: 123%; /* 이미지의 크기를 박스에 맞게 조정하면서 비율을 유지 */
  background-position: left 338px top 328px; /* 이미지가 가운데에 위치하도록 */
}

.keyWordBoxWhitex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: #073ff5;
  background-image: url('/images/keyword3.png');
  background-size: cover; /* 이미지가 div에 꽉 차도록 */
  background-position: left 360px top 300px; /* 이미지가 가운데에 위치하도록 */
  
}
.keyWordBoxWhite1{
  background: linear-gradient(135deg, #5A8AF2 0%, #92b4fd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 300px;
  height: 300px;
  border-radius: 16px;
 
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-image: url('/images/keyword5.png');
  background-position: left 337px top 330px; /* 이미지가 가운데에 위치하도록 */
 
}

/* 중요한 단어 강조 */




  

.keyWordBoxWhiteImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
   url('../../public/images/keyword2.png');
  background-size: cover;
  background-position: center;
  position: relative; /* 텍스트 배치를 위해 필요 */
}
/* 맨왼쪽아래칸 글자  */
.aiText {
  font-weight: bold; 
  color: white;
  line-height: 1.6; 
  text-align: center; /* 텍스트를 중앙 정렬 */
  position: relative;
  z-index: 2; 
  margin-bottom: 18px;
}

.boldText {
  font-weight: bold;
  font-size: 40px; /* "AI" 텍스트를 더 크게 설정 */
  color: #1E90FF;
}

/* 맨왼쪽아래칸 글자 한줄한줄한줄 */
.line1 {
  font-size: 29px; /* 첫 번째 줄 텍스트 크기 */
  margin-left: 28px; /* 첫 번째 줄은 기본 위치 */
  text-align: left; /* 왼쪽 정렬 */
  margin-right: 28px;
  
  
}

.line2 {
  font-size: 29px; /* 두 번째 줄 텍스트 크기 */
  margin-left: 28px;  /* 두 번째 줄은 첫 번째 줄보다 오른쪽으로 이동 */
  text-align: left; /* 왼쪽 정렬 */
  margin-right: 28px;
}

.line3 {
  font-size: 29px; /* 세 번째 줄 텍스트 크기 */
  margin-left: 28px;  /* 세 번째 줄은 두 번째 줄보다 더 오른쪽으로 이동 */
  text-align: left; /* 왼쪽 정렬 */
  margin-right: 28px;
}

.line4 {
  font-size: 29px; /* 세 번째 줄 텍스트 크기 */
  margin-left: 28px;  /* 세 번째 줄은 두 번째 줄보다 더 오른쪽으로 이동 */
  text-align: left; /* 왼쪽 정렬 */
  margin-right: 28px;
}



 

/* 가장 긴칸 중앙 왼쪽   */  
.keyWordBoxHeight{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 630px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image:  
   url('../../public/images/keyword0.png');
   background-position: right 558px bottom 660px ; /* 이미지를 왼쪽으로 10px 이동 */
   background-size: 91%; /* 이미지의 크기를 박스에 맞게 조정하면서 비율을 유지 */
}
.keyWordBoxGroup{
  display: flex;
  justify-content: space-between;
  
}
/* 맨오른쪽칸 */
.keyWordBoxWidth{
  display: flex;
  justify-content: center;
  flex-direction: column; /* 세로로 배치 */
  align-items: center;
  width: 630px;
  height: 300px;
  border-radius: 16px;
  background-color: #5A8AF2;
  background-image:  
   url('../../public/images/keyword1.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

/* 맨왼쪽칸위글자 css  */
.keyWordTextWh{
  margin-left: 30px;
  width: 240px;
  height: 240px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
/* 맨오른쪽아래칸글자 css  */
.keyWordTextWh1 {
  font-size: 28px; /* 텍스트 크기 */
  font-weight: bold; /* 굵게 표시 */
  color: #ffffff; /* 흰색 텍스트 */
  padding: 20px; /* 내부 여백 추가 */
  line-height: 1.5; /* 줄 간격 조정 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 인식하여 출력 */
  text-align: right;
}
/* 맨왼쪽칸 오른쪽아래 텍스트  */
.mainText {
  font-size: 20px; /* 텍스트 크기 조정 */
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: -190px; /* 작은 텍스트와의 간격 */

  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 인식하여 출력 */
  line-height: 1.3; /* 줄 간격을 조절해보세요 */
  width: 200px;
 
  
  
}






/* 중앙위작은칸 */
.keyWordTextBl{
  width: 240px;
  height: 240px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 인식하여 출력 */
  line-height: 1.5; /* 줄 간격을 조절해보세요 */
  text-align: left;
  margin-left: 28px;
}



/* 중요한 단어 강조 */
.highlightedText {
  color: #00FFFF; /* 강조 색상 */
  font-weight: bold;
}

.keyWordTextB2{
  width: 240px;
  height: 240px;
  font-size: 28px;
  font-weight: bold;
  padding: 20px; /* 내부 여백 추가 */
  color: #444444;
  line-height: 1.5; /* 줄 간격 조정 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 인식하여 출력 */
  margin-bottom: 50px;
}

.keyWordTextBlImage{
  width: 240px;
  height: 240px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.keyWordTextHeightBl p {
  margin-bottom: 15px; /* 각 문단(p) 사이의 간격을 설정합니다. 필요에 따라 값을 조정하세요 */
}

.keyWordTextHeightBl{
  margin-top: 7px;
  width: 240px;
  height: 570px;
  font-size: 25px;
  margin-left: 28px;
  font-weight: bold;
  color: #444444;
  opacity: 0;
  animation: fadeIn 2s forwards;
  word-wrap: break-word; /* Ensure words don't overflow */
  word-break: keep-all; /* Prevent words from breaking in the middle */
  line-height: 1.5; /* Adjust line height for better readability */
  
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.keyWordTextWidthWh {
  font-size: 23px; /* 텍스트 크기를 더 작게 조정 */
  font-weight: bold;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 */
  line-height: 1.3; /* 줄 간격을 조정하여 높이 안에 잘 들어가도록 설정 */
  margin-bottom: 5px; /* 각 줄 사이의 간격을 좁혀서 공간 활용 */
  padding: 0 10px; /* 텍스트와 이미지 가장자리 사이에 약간의 여백 추가 */
  white-space: wrap; /* 줄바꿈 없이 한 줄에 표시되도록 설정 */
  overflow: hidden; /* 텍스트 넘침 방지 */
 
  
}

.highlight{
  color: #1E90FF;; /* 파란색으로 강조 */
  font-weight: bold;
}


.keyWordImages1{
  background-image: url('../../public/images/keyword1.png');
  background-size: cover;
  background-position: center;
}

/* 추인철이 추가하는 맛도리 ui */
.logoIcon {
  width: 24px; /* 적절한 크기로 설정 */
  height: 24px;
  vertical-align: middle; /* 텍스트와 수평으로 맞추기 */
  margin: 0 4px; /* 텍스트와의 간격 */
}

/* 추인철이 추가하는 맛도리 ui */


/* Progress Bar Wrapper 스타일 */
.mainIntroProgress {
  display: flex; /* 진행 바를 가로로 배치 */
  gap: 5px; /* 각 진행 바 사이에 간격 추가 */
  height: 8px;
  position: relative;
  justify-content: space-between;
}

.mainIntroProgressWrapper {
  position: relative;
  width: 280px; /* 각 바의 너비 */
}

.mainIntroProgressBarBase {
  height: 8px;
  background-color: grey; /* 기본 회색 바 */
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainIntroProgressBar {
  height: 100%;
  background-color: transparent;
  width: 0px;  /* 기본적으로 0px에서 시작 */
  transition: width 5s linear;
  position: absolute;
  top: 0;
  left: 0;
}

.mainIntroProgressBar.active {
  background-color: #007bff;
  width: 280px;
  transition: width 5s linear; 
}



/* 메인화면 뉴스칸 이아래로 쭈욱입니다 */
.newsSliderContainer {
  position: relative;
  width: 100%;
  max-width: 2100px; /* 전체 슬라이더의 최대 너비를 설정 */
  margin: 0 auto; /* 슬라이더를 가운데 정렬 */
  padding: 20px 0;

  border-radius: 10px; /* 테두리 둥글게 */
  background-color: #fff; /* 슬라이더 배경색 */
  
  overflow: hidden; /* 슬라이더 영역을 벗어난 요소는 숨기기 */
  bottom: 29px;
}

.newsTitleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.newsTitle {
  font-family: 'Helvetica', 'Arial', sans-serif; /* 세련된 서체 사용 */
  font-size: 42px; /* 약간 작은 크기 */
  font-weight: 500; /* 너무 두껍지 않은 굵기 */
  text-align: center; /* 중앙 정렬 */
  color: #333; /* 다소 부드러운 색상 */
  letter-spacing: 1.5px; /* 글자 사이의 간격 조정 */
  margin-bottom: 50px; /* 주변 요소와의 간격 조정 */
  text-transform: uppercase; /* 대문자 변환 */
  width: 100%;
}


.subTitle {
  font-size: 17px; /* 적절한 크기로 조정 */
  font-weight: bold;
  margin-bottom: 15px; /* 기본 여백 제거 */
  color: #333; /* 텍스트 색상 */
  
}

.newsSlider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.newsSlideTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.newsSlide {
  width: 480px; /* 슬라이드 너비를 조정하여 텍스트가 잘리지 않도록 함 */
  margin: 0 20px; /* 슬라이드 간의 간격을 약간 추가 */
  background: transparent;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 텍스트와 콘텐츠를 슬라이드 안에서 왼쪽으로 정렬 */
  justify-content: flex-start;
  min-height: 240px;
  
  box-shadow: none;
  padding: 15px; /* 슬라이드 내부 패딩 추가 */
}

.newsSlideContent {
  padding: 15px 20px 30px 20px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  text-align: left;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* 높이를 100%로 설정하여 통일 */
}

.newsSlideTitle {
  font-size: 20px; /* 글자 크기를 약간 줄임 */
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  text-align: left;
  white-space: normal;
  line-height: 1.4;
  min-height: 48px; /* 제목의 최소 높이 설정 */
}


.newsSlideInfo {
  font-size: 14px; /* 날짜와 시간의 글자 크기를 약간 줄임 */
  color: #666;
  padding-top: 10px;
  position: relative;
  text-align: left;
}

.newsSlideTime {
  font-weight: bold;
  font-size: 16px;
  color: #666;
  margin-top: auto;
  display: block; /* 시간 텍스트를 블록으로 처리 */
}

.newsSlideLine {
  content: "";
  position: absolute;
  top: 63px; /* 선이 날짜 위에 위치하도록 조정 */
  left: 0;
  width: 100%;
  height: 3px;
  background: #000000; /* 선의 색상 */
  margin: 10px 0; /* 선의 위치를 통일하기 위한 여백 */
  transform: scaleX(0); /* 초기에는 보이지 않도록 설정 */
  transform-origin: left; /* 왼쪽에서 오른쪽으로 확장 */
  transition: transform 0.3s ease;
}

.newsSlide:hover .newsSlideLine {
  transform: scaleX(1); /* 호버 시 선이 나타남 */
}

/* 보이지 않는 요소를 위한 CSS */
.invisible-space {
  width: 100%;
  height: 50px; /* 원하는 높이로 조정 */
  visibility: hidden; /* 요소를 보이지 않게 함 */
}

.newsSliderControl {
  position: absolute;
  top: -27%;
  transform: translateY(-50%);
  padding: 10px; /* 패딩을 조정하여 내부 콘텐츠의 크기를 줄임 */
  background: rgba(0, 123, 255, 0.8); /* 짙은 블루 색상으로 변경 */
  color: white;
  border: none;
  margin-right: -270px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.newsSliderControl.prev {
  right: 60px;
  transform: translate(-1400%, -50%);
}

.newsSliderControl.next {
  right: 10px;
  transform: translate(-1400%, -50%);
}

.newsSliderControl:hover {
  background: rgba(0, 0, 0, 0.7);
}





.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

.ticketheader {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #000000, #333333);
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1.5s ease-in-out;
}

.ticketSubheader {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(to right, #5A8AF2, #86aaf8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.5px;
  animation: slideIn 1.5s ease-in-out;
}

.ticketplansFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 470px;
  margin-bottom: 20px;
}

.ticketplansFrameIn {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 300px;
  height: 470px;
  transition: transform 0.2s;
  animation: fadeIn 1.5s ease-in-out;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
  
 
}

.ticketplansFrameIn:hover {
  transform: translateY(-10px);
}

.ticketplansFrames {
  display: flex;
  width: 260px;
  flex-direction: column;
}

.tickettitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.ticketInfo {
  margin-top: 15px;
  width: 260px;
  height: 315px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticketInfoIn {
  width: 230px;
  height: 290px;
}

.ticketInfoTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ticketButtonFrame {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 버튼 프레임이 카드 전체 너비에 맞게 확장되도록 설정 */
  
}

.ticketbutton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #5A8AF2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
}

.ticketbutton:hover {
  background-color: #86aaf8;
}

.ticketbutton:disabled,
.ticketbutton.disabledButton {
  background-color: #B0B0B0; /* 비활성화 상태에서 버튼 색상을 회색으로 변경 */
  cursor: not-allowed; /* 비활성화 상태에서 커서 모양 변경 */
}

.ticketbutton:disabled:hover,
.ticketbutton.disabledButton:hover {
  background-color: #B0B0B0; /* 비활성화 상태에서는 호버 시 색상 변화가 없도록 설정 */
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #5A8AF2;
  margin-right: 10px; /* 가격이 오른쪽에 고정되도록 설정 */
  margin-left: auto; /* 가격이 왼쪽으로 밀리도록 설정 */
}

.recommendedPlan {
  position: relative;
  background-color: #f9f9f9;
}



.recommendedPlan .ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #ff6347;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transform: rotate(45deg);
  top: 30px;
  right: -65px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.ticketInfoTitleSub {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* 각 항목 사이의 간격을 조정 */
}

.ticketInfoTitleSub Icon {
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격을 조정 */
}
