.container {
  min-height: 100vh;
  background-color: #b4b5b5;
}

.findPasswordInputBox {
  width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.alert-text {
  color: red;
}