.filter-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: 200px; /* 기본 박스 크기 */
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box; /* 박스 크기에 패딩과 테두리 포함 */
}

.filter-content-container {
    padding: 10px;
    flex-grow: 1;
    width: 60%; /* 가로 너비의 60%를 차지 */
    overflow-y: auto;
    height: 100%; /* 높이 100%로 설정 */
    position: relative; /* 상대적 위치 설정 */
    box-sizing: border-box;
}

.filter-content-container.with-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc; /* 선 색상 */
}
.sub-content-container {
    padding: 10px;
    flex-grow: 1;
    width: 40%; /* 나머지 40%를 차지 */
    height: 100%; /* 높이 100%로 설정 */
    overflow-y: auto; /* 스크롤 추가 */
    box-sizing: border-box;
}

.districts-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px); /* 스크롤을 위한 높이 설정 */
    overflow-y: auto;
}

.district-item {
    margin-bottom: 3px;
}

.filter-categories {
    display: flex;
    flex-direction: column;
    width: 100px; /* 카테고리 메뉴 너비 */
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    flex-shrink: 0; /* 크기 조정 방지 */
    box-sizing: border-box;
}

.filter-category {
    padding: 21px;
    text-align: center;
    cursor: pointer;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* 세련된 전환 효과 추가 */
}

.filter-category:hover, .filter-category.active {
    background-color: #007bff;
    color: white;
}

/* Webkit 기반 브라우저용 스크롤바 스타일 (Chrome, Safari, Edge Chromium 등) */
.filter-scrollbar::-webkit-scrollbar {
    width: 14px; /* 기존 두께 유지 */
    height: 14px; /* 기존 두께 유지 */
}

.filter-scrollbar::-webkit-scrollbar-track {
    background: #ebebeb; /* 약간 더 진한 회색 트랙 배경색 */
    border-radius: 10px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
    background-color: #007bff; /* 기존의 파란색 컬러 유지 */
    border-radius: 10px;
    border: 2px solid #ebebeb; /* 스크롤바 테두리와 트랙의 색상을 일치시킴 */
}

.filter-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* 호버 시 조금 더 진한 파란색으로 변경 */
}







/* 반응형 디자인 */
@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        height: auto; /* 높이 자동 조정 */
    }

    .filter-content-container, .sub-content-container {
        max-width: 100%; /* 최대 너비 100% */
        height: auto; /* 높이 자동 조정 */
    }

    .filter-categories {
        flex-direction: row;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .filter-category {
        flex-grow: 1;
        padding: 15px;
    }
}
