.search-container {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* 내부 위치 지정 */
    width: calc(100% - 40px); /* 전체에서 20px씩 양쪽으로 줄여서 가로 크기 조정 */
    margin-left: auto;
    margin-right: auto;
}

.search-container h2 {
    margin: 0;
    font-size: 24px;
}

.search-container p {
    margin: 10px 0;
    font-size: 16px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-box input {
    width: 70%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    color: rgb(0, 0, 0);
}

.search-box button {
    background-color: #0056b3;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}