.container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #f5f5f5;
  }
  
  .paper {
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .tabs {
    margin-bottom: 24px;
  }
  
  .tab {
    min-width: auto;
    padding: 6px 16px;
    border-radius: 20px;
    margin: 0 8px;
  }
  
  .tabSelected {
    background-color: #1976d2;
    color: #ffffff;
  }
  
  .title {
    color: #0D47A1;
    font-weight: bold;
  }
  
  .gradeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  .gradeNumber {
    color: #1976D2;
    font-weight: bold;
  }
  
  .gradeText {
    margin-left: 8px;
  }
  
  .circularProgressBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  .circularProgressText {
    position: absolute;
    font-weight: bold;
    color: #1976D2;
  }
  
  .recommendationScore {
    color: #00C853;
    font-weight: bold;
  }
  
  .chart {
    width: 100%;
    height: 300px;
  }
  
  .personalityBox {
    margin-bottom: 16px;
  }
  
  .personalityBar {
    height: 10px;
    border-radius: 5px;
  }
  
  .wordcloud {
    height: 300px;
  }
  
  .buttonContainer {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .feedbackText {
    margin-top: 20px;
  }
  
  .listTitle {
    margin-top: 20px;
  }
  
  .preLineText {
    white-space: pre-line;
  }

  /* 새로운 스타일 추가 */
.dialogBox {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dialogTitle {
  font-size: 18px;
  font-weight: bold;
}

.dialogContent {
  margin-top: 12px;
}

.dialogActions {
  display: flex;
  justify-content: space-between;
}

/* 배경에 적용될 흐림 효과 */
.blurBackground {
  filter: blur(8px);  /* 적당한 blur 값으로 변경 */
  pointer-events: none;  /* 사용자의 상호작용을 차단 */
}

/* 라디오 버튼 선택 스타일 */
.selectedPlan {
  background-color: #1976d2;
  border-radius: 8px;
  padding: 8px;
}

.unselectedPlan {
  background-color: #1976d2;
  border-radius: 8px;
  padding: 8px;
}

/* 다음 버튼 기본 스타일 */
.paymentButton {
  margin-top: 20px;
  color: white;
  background-color: #1976d2;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;  /* 배경색 변환에 부드러운 전환 추가 */
}

/* 버튼이 비활성화된 상태 */
.paymentButton:disabled {
  background-color: #d3d3d3;
  color: #808080;
}

/* 버튼이 호버 상태일 때 배경색 변화 */
.paymentButton:hover {
  background-color: #125aa3; /* 원하는 호버 배경색으로 변경 */
  cursor: pointer;  /* 마우스 포인터를 손가락 모양으로 변경 */
}
/* 화면 전체를 덮는 반투명 배경 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* 반투명 검은색 배경 */
  z-index: 1; /* Dialog보다 낮은 z-index 값 */
  pointer-events: none; /* 클릭 이벤트가 통과되도록 설정 */
}