.tabButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tabButton {
  transition: all 0.3s ease !important;
}

.tabButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.activeTab {
  background-color: #1976D2 !important;
  color: #FFFFFF !important;
}