

.adminSideBar {
  background-color: #fff; /* 하얀색 박스 */
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  margin-top: 50px;
  margin-left: 110px;
  position: static;
  flex: 0 0 200px;
}
.adminSideBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.adminSideBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
{/*위아래 간격배치*/}
.adminSideBar nav ul li {
  margin-bottom: 10px;
}
.adminSideBar nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.adminSideBar nav ul li a:hover {
  background-color: #eaeaea;
}
