/* bbsNoticeTable.module.css */

.NoticePaginationTableContainer {
    margin-top: 20px;
  }
  
  .NoticePaginationHeaderCell {
    font-weight: bold;
    background-color: #4A90E2;
    color: white;
  }
  .NoticePaginationLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .NoticeLink:hover {
    text-decoration: underline;
  }
  
  .NoticeButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .container {
    display: flex;
    margin: 30px 30px 30px 30px;
    width: 100%;
    height:1000px ;
    justify-content: center;
  }

  .sidebar {
    
    margin: 10px 20px 10px 10px;
    min-width: 200px;
  }

  .content {
    background-color: white;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    
    min-width: 500px;
    width: 1080px;
    box-sizing: border-box;
    overflow-y: auto;
    
  }
  .noticeGridContainer {
    margin-top: 20px;
    max-width: 100%;
  }
  
  .noticeGridItem {
    height: 56px;
  }
  
  .noticeSearchButton {
    background-color: #5A8AF2;
    &:hover {
        background-color: #357ABD;
    }
    height: 56px;
  }