/* bbsQnaList.module.css */
  .bbsQnaListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }
  
  .bbsQnaListIllustration {
    width: 500px;
    height: auto;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .bbsQnaListEmptyText {
    font-size: 1.5rem;
    color: #888;
  }
  
  .bbsQnaListTableContainer {
    width: 100%;
    margin-top: 20px;
  }
  
  .bbsQnaListHeaderCell {
    font-weight: bold;
    background-color: #5A8AF2;
    color: white;
    white-space: nowrap;
  }
  
  .bbsQnaListTitleCell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .bbsQnaListTableLink {
    color: black;
    text-decoration: none;
  }
  
  .bbsQnaListTableLink:hover {
    text-decoration: underline;
  }

  .bbsQnaRegisterSubmitButton{
    color: white;
    background-color: #5A8AF2;
    margin-top: 15px;
  }

  .bbsQnaGridContainer{
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
   
  }
  .bbsQnaGridItemInput{
    flex-grow:3;
    margin-right:10px;
  }
  .bbsQnaGridItemButton{
    flex-grow: 1;
  }
  .bbsQnaSearchButton{
    background-color: #5A8AF2;
    &:hover {
        background-color: #357ABD;
    }
    height: 56px;
  }
