.notice-board {
    flex-grow: 1;
    padding: 20px;
   
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
   
  }
 
.h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .p {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th, .td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .th {
    background-color: #f2f2f2;
  }