/* PostView Styling */
.content {
  display: flex; /* Flexbox를 사용하여 자식 요소들을 옆으로 배치 */
  justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
 
}

.postContainer {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  min-height: 50vh;
  
}

.postView {
  width: 1000px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ddd;
  
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 300px;
  margin-bottom: 50px;
  min-width: 500px;
  flex: 1; /* 가로 폭을 최대화 */
  padding: 1rem;
  margin-left: 200px;
}
/* Post Title */
.postContainer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Post Meta Information */
.postMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postMeta .author {
  font-weight: bold;
  font-size: 14px;
}

.postMeta .postInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.postMeta .postInfo span {
  font-size: 16px;
  color: #555;
}

.postMeta .postInfo .MuiIconButton-root {
  padding: 0;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 파일 목록 사이 간격 */
  padding: 10px;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f7f4f4;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  transition: background-color 0.3s;
}

.fileItem:hover {
  background-color: #ebe7e7; /* hover 시 배경색 변화 */
}
.fileLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: 100%;
}
.fileName {
  font-size: 15px;
  margin-right: 20px; /* 파일 이름과의 간격 */
  flex-grow: 1;
  text-align: left;
}

.author{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  
}


/* Divider */
.divider {
  border: none;
  border-top: 1px solid #bebcbc;
  margin: 20px 0;
}

/* Comments List */
.commentList {
  margin-top: 20px;
  
}

.commentItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
}

.commentItem strong {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}

.commentItem p {
  margin: 0;
  font-size: 14px;
}

.commentItem span {
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Comment Input */
.commentInput {
  display: flex;
  margin-top: 20px;
}

.commentInput input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.commentInput button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.commentInput button:hover {
  background-color: #0056b3;
}

.commentContainer {
  display: flex;
  justify-content: space-between; /* 아이템들 사이에 최대한의 공간을 배분 */
  align-items: center; /* 아이템들을 수직 중앙에 정렬 */
}

.commentContent {
  flex: 1; /* 댓글 내용이 가능한 한 많은 공간을 차지하게 함 */
  margin-right: 8px; /* 아이콘과의 간격을 추가 */
}

.reportedContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f4ff; /* 메인색상과 조화를 이루는 배경색 */
  border: 2px solid #5A8AF2; /* 메인색상을 사용한 테두리 */
  border-radius: 8px;
  padding: 20px;
  min-height: 30vh;
  color: #333; /* 텍스트 색상 */
  font-size: 1.5rem;
  font-weight: 650;
  text-align: center;
}
.reportedIcon{
  font-size: 3.5rem; /* 아이콘을 크게 */
  margin-bottom: 10px; /* 아이콘과 텍스트 사이 여백 */
  color: #ffcc00; /* 경고 아이콘의 색상 (노란색) */
}

.reportedContainer span {
  display: block;
  margin-bottom: 15px;
}