/* PostView Styling */
.content {
  display: flex; /* Flexbox를 사용하여 자식 요소들을 옆으로 배치 */
  justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
 
}

.postContainer {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  
}

.postView {
  width: 1000px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ddd;
  border-color: #DEFFF5;
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 300px;
  margin-bottom: 50px;
  min-width: 500px;
  flex: 1; /* 가로 폭을 최대화 */
  padding: 1rem;
  margin-left: 200px;
}
/* Post Title */
.postContainer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Post Meta Information */
.postMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postMeta .author {
  font-weight: bold;
  font-size: 14px;
}

.postMeta .postInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.postMeta .postInfo span {
  font-size: 16px;
  color: #555;
}

.postMeta .postInfo .MuiIconButton-root {
  padding: 0;
}

/* Divider */
.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* Comments List */
.commentList {
  margin-top: 20px;
}

.commentItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
}

.commentItem strong {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}

.commentItem p {
  margin: 0;
  font-size: 14px;
}

.commentItem span {
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Comment Input */
.commentInput {
  display: flex;
  margin-top: 20px;
}

.commentInput input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.commentInput button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.commentInput button:hover {
  background-color: #0056b3;
}
