.qnaheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eaeaea;
  
  
}
.qna-header h1 {
  font-size: 20px;
  margin: 0;
  margin-left: 30px;
  margin-top: 30px;
}
.qna-header h2 {
  font-size: 20px;
  margin: 0;
  margin-left: 30px;
  
}
.qna-header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.qna-header-controls select,
.qna-header-controls input[type="checkbox"]{
  padding: 5px;
}