.qnaContainer {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .qna th, .qna td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
 
  .qnaFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .buttonContainer {
    align-self: flex-end; /* 오른쪽 하단 정렬 */
    margin-bottom: 20px; /* 페이지 번호와의 간격 */
  }
  
  .createPostButon {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .createPostButon:hover {
    background-color: #0056b3;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* 검색창과의 간격 */
  }
  
  .paginationContainer button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .paginationContainer button:hover {
    background-color: #e2e6ea;
  }
  
  .searchContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    
  }
  
  .searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .seachButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .seachButton:hover {
    background-color: #0056b3;
  }