/* adminQnaTable.module.css */

.qnaTableContainer {
    margin-top: 20px;
  }
  
  .qnaHeaderCell {
    font-weight: bold;
    background-color: #4A90E2;
    color: white;
  }
  .qnaLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .qnaLink:hover {
    text-decoration: underline;
  }
  
  .qnaButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }