/* 전체 컨테이너 */
.adminAdminNoticeRegisterContainer {
    max-width: 1000px;
    margin: 50px auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    background-color: #fff;
}

/* 제목 텍스트 필드 */
.adminAdminNoticeRegisterTitleInput {
    margin-bottom: 10px;
}

/* Quill 에디터 입력 필드 스타일 */
.adminAdminNoticeRegisterContentInput {
    font-size: 1.5rem;  /* 기본 폰트 크기 */
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
    min-height: 100px; /* 에디터 높이 */
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%;
}


/* 등록 버튼 스타일 */
.adminAdminNoticeRegisterSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4A90E2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}

.adminAdminNoticeRegisterSubmitButton:hover {
    background-color: #0056b3;
}

.adminAdminNoticeRegisterTitle {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
