/*adminMain.module.css*/

.adminPageTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 세련된 폰트 사용 */
    font-size: 2.5rem; /* 폰트 크기 조정 */
    color: #0056b3; /* 진한 파란색 텍스트 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 추가 */
    background-color: #f0f8ff; /* 밝은 파란색 배경 추가 */
    padding: 15px; /* 텍스트 주위 여백 추가 */
    border-radius: 12px; /* 모서리를 둥글게 */
    border: 2px solid #ddd; /* 얇은 테두리 추가 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.adminMainContainerFluid {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px; /* 위 여백 추가 */
 
}

.adminMainContent {
    flex: 1;
   
}

.adminMainCard {
    margin-bottom: 20px;
    width:100%;
   
}

.adminMainTable {
    margin-top: 20px;
    width: 100%;
  
  
}
.adminMainTableContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000; /* 테두리 추가 */
    padding: 10px;
}
.adminMainTableColumn {
    flex: 1;
    border-left: 1px solid #000; /* 컬럼 사이 테두리 추가 */
    padding: 10px;
    text-align: center;
}
.adminMainTableColumn:first-child{
    border-left: none;
}
.adminMainCardHeader {
    font-weight: bold;
    padding: 10px;
 
}

.adminMainCardBodyP {
    color: #888;
    text-align: center;
}

.adminMainCardText {
    margin: 5px 0;
}

.adminMainColPadding {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 950px;
}

.adminMainMainHeader {
    background-color: #4A90E2; /* 파란색 코드 */
    color: white;

}

.adminMainTableHeader {
    text-align: center;
    font-weight: 600;
}


/* 우선순위를 높이기 위해 부모 클래스와 결합하여 지정 */
.adminMainCard .adminMainMainHeader {
    background-color: #4A90E2; /* 파란색 코드 */
    color: white;
  
}
