/* 전체 컨테이너 */
.adminCompanyNoticeRegisterContainer {
    max-width: 1000px;
    margin: 50px auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    background-color: #fff;
}

/* 제목 텍스트 필드 */
.adminCompanyNoticeRegisterTitleInput {
    margin-bottom: 10px;
}

/* 내용 텍스트 필드 */
.adminCompanyNoticeRegisterContentInput {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
}

/* 등록 버튼 스타일 */
.adminCompanyNoticeRegisterSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4A90E2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}

.adminCompanyNoticeRegisterSubmitButton:hover {
    background-color: #0056b3;
}

/* 제목 스타일 */
.adminCompanyNoticeRegisterTitle {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
