/* adminReportedCommentTable.module.css */

/* 테이블 컨테이너 스타일 */
.deletedCommentTableContainer {
  margin-top: 20px;

}

/* 테이블 헤더 셀 스타일 */
.deletedCommentTableHeaderCell {
  font-weight: bold;
  background-color: #5A8AF2;
  color: white;
}

/* 링크 스타일 */
.deletedCommentTableLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.deletedCommentTableLink:hover {
  text-decoration: underline;
}

/* 버튼 컨테이너와 페이지네이션 컨트롤 스타일 */
.deletedCommentTableButtonContainer{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.deletedCommentTitle {
  margin: 15px;
  white-space: nowrap;
  font-size: 40px;
}