/* adminAdminNoticeRegister.module.css */

/* 전체 컨테이너 */
.adminAdminNoticeRegisterContainer {
    max-width: 1000px;
    margin: 50px auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

/* 제목 텍스트 필드 */
.adminAdminNoticeRegisterTitleInput {
    margin-bottom: 10px;
}

/* 글꼴 크기 선택 및 아이콘 버튼 */
.adminAdminNoticeRegisterFontControls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.adminAdminNoticeRegisterFontControlItem {
    margin-right: 5px;
}

/* 내용 텍스트 필드 */
.adminAdminNoticeRegisterContentInput {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
}

/* 글자 수 텍스트 */
.adminAdminNoticeRegisterCharCount {
    text-align: right;
    color: gray;
}

/* 파일 첨부 버튼 */
.adminAdminNoticeRegisterFileAttachButton {
    margin-right: 10px;
}

/* 파일 첨부 텍스트 */
.adminAdminNoticeRegisterFileAttachText {
    margin-top: 5px;
    color: gray;
    font-size: 0.9em;
}

.adminAdminNoticeRegisterSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}

.adminAdminNoticeRegisterSubmitButton:hover {
    background-color: #0056b3;
}



.adminAdminNoticeRegisterTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}