/* 전체 컨테이너의 패딩 설정 */
.faqRegisterContainer {
    padding: 20px;
}

/* 글 작성 제목 스타일 */
.faqRegisterTitle {
    margin-bottom: 16px;
}




.FaqRegisterSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4A90E2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}
.faqRegisterButton {
    background-color: #5A8AF2;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    text-transform: none;
    transition: background-color 0.3s ease;
}

.faqRegisterButton:hover {
    background-color: #0056b3;
}

.faqRegisterButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
    margin-bottom: 30px;
}