/* /adminNoticePost.module.css*/
  
.createPostContainer {
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto; /* 가로 중앙 정렬 */
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.createPostSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}

.createPostSubmitButton:hover {
    background-color: #0056b3;
}

.createPostNoticeRegisterContainer {
    max-width: 1000px;
    margin: 50px auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.createPostNoticeRegisterTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}