.qnaTableContainer {
  margin-top: 20px;
}

.qnaHeaderCell {
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
  width: 150px;
  white-space:nowrap;
}

.qnaTableLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.qnaTableLink:hover {
  text-decoration: underline;
}



.qnaContainer {
  display: flex;
  margin: 30px 30px 30px 30px;
  width: 100%;
  height:1000px ;
  justify-content: center;
}

.qnaSidebar {
  border: solid 2px;
  border-color: #DEFFF5;
  margin: 10px 20px 10px 10px;
  min-width: 200px;
}

.qnaContent {
  background-color: white;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  border: solid 2px;
  border-color: #DEFFF5;
  min-width: 500px;
  width: 1080px;
  box-sizing: border-box;
  overflow-y: auto;
}





.mainContainer {
  padding: 20px;
}

.pageControlButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.statusFilter, .searchCategory, .searchTerm {
  width: 100%;
}

.searchButton {
  height: 56px;
  width: 100%;
  background-color: #4A90E2;
  color: white;
}

.qnaTitle {
  margin: 15px;
  white-space: nowrap;
  font-size: 40px;
}