/*adminReportedFinComment.module.css*/

.reportedFinCommentTableContainer {
    margin-top: 20px;
    background-color: #ffffff; 
  }
  
  .reportedFinCommentTableHeaderCell {
    font-weight: bold;
    background-color: black; /* 헤더 배경색을 검정으로 설정 */
    color: white; /* 헤더 글자를 흰색으로 설정 */
  }
  
  .reportedFinCommentLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .reportedFinCommentLink:hover {
    text-decoration: underline;
  }
  
  .reportedFinCommentButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }