/* adminDeletedPost.module.css */

/* 테이블 관련 스타일 */
.deletedPostTableContainer {
  margin-top: 20px;
}

.deletedPostTableHeaderCell {
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
  width: 150px;
  white-space:nowrap;
}

.deletedPostTableLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.deletedPostTableLink:hover {
  text-decoration: underline;
}



/* 레이아웃 및 컨테이너 스타일 */
.deletedPostContainer {
  display: flex;
  margin: 30px 30px 30px 30px;
  width: 100%;
  height:1000px ;
  justify-content: center;
}

.deletedPostSidebar {
  border: solid 2px;
  border-color: #DEFFF5;
  margin: 10px 20px 10px 10px;
  min-width: 200px;
}

.deletedPostContent {
  background-color: white;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  border: solid 2px;
  border-color: #DEFFF5;
  min-width: 500px;
  width: 1080px;
  box-sizing: border-box;
  overflow-y: auto;
}

.deletedPostMainContainer {
  padding: 20px;
}

/* 기타 스타일 */
.deletedPostTitle {
  margin: 15px;
  white-space: nowrap;
  font-size: 40px;
}

.deletedPostGridContainer {
  margin-top: 20px;
  max-width: 100%;
}

.deletedPostGridItem {
  height: 56px;
}

.deletedPostSearchButton {
  background-color: #4A90E2;
  &:hover {
      background-color: #357ABD;
  }
  height: 56px;
}