/* adminPaginationTable.module.css */

.ReportedTableContainer {
  margin-top: 20px;
}

.ReportedHeaderCell {
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
}
.ReportedLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.ReportedLink:hover {
  text-decoration: underline;
}

.ReportedButtonContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}