/* adminCompanyNoticeDetails.module.css */

/* 전체 컨테이너 스타일 */
.adminCompanyNoticeDetailsContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* 공지사항 카드 스타일 */
.adminCompanyNoticeDetailsPaper {
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

/* 공지사항 제목 스타일 */
.adminCompanyNoticeDetailsHeader {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* 공지사항 날짜 스타일 */
.adminCompanyNoticeDetailsDate {
    color: gray;
}

/* 공지사항 내용 스타일 */
.adminCompanyNoticeDetailsContent {
    white-space: pre-wrap;
    line-height: 1.6;
}

/* 버튼 컨테이너 스타일 */
.adminCompanyNoticeDetailsButtonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/* 저장하기 버튼 스타일 */
.adminCompanyNoticeSaveButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}

/* 수정하기 버튼 스타일 */
.adminCompanyNoticeEditButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}

/* 삭제하기 버튼 스타일 */
.adminCompanyNoticeDeleteButton {
    background-color: red;
    margin-right: 10px;
    color: white;

}

/* 수정하기 버튼 스타일 */
.adminCompanyNoticeListButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}
/* 이전글 / 다음글 버튼 스타일 */
.adminCompanyNoticeNavButtons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* 다이얼로그 스타일 */
.adminCompanyNoticeDialogTitle {
    font-weight: bold;
}

.adminCompanyNoticeDialogContentText {
    margin-top: 20px;
}