/* /adminAdminNoticeTable.module.css */

.adminNoticeTableContainer {
    margin-top: 20px;

  }
  
  .adminNoticeTableHeaderCell {
    font-weight: bold;
    background-color: #4A90E2;
    color: white;
  }
  .adminNoticeTableLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .adminNoticeTableLink:hover {
    text-decoration: underline;
  }
  
  .adminNoticeTableButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }