/* 전체 박스 스타일 */
.userDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

/* 제목 스타일 */
.userDetailsTitle {
    margin-bottom: 16px;
}

/* 회원 정보 박스 스타일 */
.userDetailsPaper {
    padding: 24px;
    max-width: 800px;
    width: 100%;
}

/* 아바타 이미지 스타일 */
.userAvatar {
    width: 120px;
    height: 120px;
}

/* 회원 정보 제목 스타일 */
.userInfoTitle {
    margin-bottom: 16px;
    text-align: center;
}

/* 회원 탈퇴 및 회원 정보 수정 버튼 스타일 */
.userDetailsButton {
    margin-right: 16px;
}

.userDetailsDeleteButton {
    color: red;
    border-color: red;
}

/* Grid 스타일 (모바일 및 다양한 화면 크기에 맞춘 레이아웃) */
.userDetailsGridContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}