/* 전체 컨테이너의 padding 설정 */
.adminFaqContainer {
    padding: 20px;
}


/* 상단 제목과 버튼을 포함한 박스의 스타일 */
.adminFaqHeader {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

/* 카테고리 검색을 위한 FormControl 스타일 */
.adminFaqCategorySearch {
    margin-bottom: 24px;
    background-color: #4A90E2;
}

/* 페이지네이션 컨트롤 박스의 스타일 */
.adminFaqPaginationControl {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 페이지네이션 컨트롤의 버튼 스타일 */
.adminFaqPaginationButton {
    min-width: 60px;
  text-align: center;
  padding: 8px 16px;
  margin: 0 4px;
}

.adminFaqPaginationButton:last-of-type {
    margin-right: 0;
    margin-left: 4px;
}

/* 현재 페이지와 전체 페이지 수를 표시하는 스타일 */
.adminFaqPageIndicator {
    margin-left: 8px;
    margin-right: 8px;
}

/* 페이지네이션 선택 메뉴 스타일 */
.adminFaqRowsPerPageSelect {
    margin-left: 16px;
}

.adminFaqMenuItem {
    color: white;
    background-color: #4A90E2; /* 필요 시 배경색도 설정 가능 */
}

.adminFaqMenuItem:hover {
    background-color: #3A78D2; /* hover 시 배경색 */
}

.adminFaqCategoryLabel {
    color: white;
    font-weight: bold;
}

/* 삭제 버튼 스타일 */
.adminFaqDeleteButton {
    margin-top: 20px;
    background-color: #ff5252;
    color: white;
}

.adminFaqDeleteButton:hover {
    background-color: #ff1744;
}