/*adminReportedFinPostTable.module.css*/

.reportedFinPostTableContainer {
  margin-top: 20px;
  background-color: #ffffff; /* 테이블 배경색을 옅은 회색으로 설정 */
}

.reportedFinPostHeaderCell {
  font-weight: bold;
  background-color: #c9c9c9; /* 헤더 배경색을 검정으로 설정 */
  color: white; /* 헤더 글자를 흰색으로 설정 */
}

.reportedFinPostLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.reportedFinPostLink:hover {
  text-decoration: underline;
}

.reportedFinPostButtonContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}