/* 전체 컨테이너의 패딩 설정 */
.faqRegisterContainer {
    padding: 20px;
}

/* 글 작성 제목 스타일 */
.faqRegisterTitle {
    margin-bottom: 16px;
}

/* 글꼴 크기 선택 드롭다운 스타일 */
.faqRegisterFontSizeSelect {
    margin-right: 8px;
}

/* 텍스트 필드 스타일 */
.faqRegisterTextField {
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    text-decoration: var(--text-decoration);
    text-align: var(--text-align);
    margin-bottom: 8px;
}

/* 글자수 제한 스타일 */
.faqRegisterCharacterCount {
    text-align: right;
    color: #888;
}

/* 파일 첨부 버튼과 파일 크기 표시 텍스트 스타일 */
.faqRegisterFileAttachButton {
    margin-right: 8px;
    background-color: #4A90E2;
}

.faqRegisterFileSizeInfo {
    margin-top: 4px;
    color: #888;
}
.FaqRegisterSubmitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4A90E2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; /* 버튼과 위의 내용 사이에 간격 추가 */
}