/* adminNoticeTable.module.css */

.noticeTableContainer {
    margin-top: 20px;
  }
  
  .noticeHeaderCell {
    font-weight: bold;
    background-color: #4A90E2;
    color: white;
  }
  .noticeLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .noticeLink:hover {
    text-decoration: underline;
  }
  
  .noticeButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }