/*adminDeletePostTable.module.css */

.deletedPostTableContainer {
    margin-top: 20px;
  }
  
  .deletedPostHeaderCell {
    font-weight: bold;
    background-color: #4A90E2;
    color: white;
  }
  .deletedPostLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .deletedPostLink:hover {
    text-decoration: underline;
  }
  
  .deletedPostButtonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }