/*adminPaginationTableFin.module.css*/

.RePortedFinTableContainer {
  margin-top: 20px;
  background-color: #ffffff; /* 테이블 배경색을 옅은 회색으로 설정 */
}

.ReportedFinHeaderCell {
  font-weight: bold;
  background-color: #c9c9c9; /* 헤더 배경색을 검정으로 설정 */
  color: white; /* 헤더 글자를 흰색으로 설정 */
}

.ReportedFinLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.ReportedFinLink:hover {
  text-decoration: underline;
}

.ReportedFinButtonContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}