/*adminQnaDetails.module.css*/


.qnaDetailsContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
}

.qnaDetailsPaper{
    padding: 30px;
    max-width: 1000px;
    width: 100%;
}

.qnaDetailsGrayText{
    color: gray;
}

.qnaDetailsGrid{
    margin-top: 20px;
}

.qnaDetailsFormControl{
    margin-top: 20px;
}

.qnaDetailsSubmitButton{
    margin-top: 20px;
    background-color: #4A90E2;
    color: white; 
}

.qnaDetailsBackButton {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #4A90E2;
    color: white; 
    
}