.reportedPostTableContainer {
  margin-top: 20px;
}

.reportedPostTitleDivider {
  border: 0;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.reportedPostHeaderCell {
  font-weight: bold;
  background-color: #5A8AF2;
  color: white;
  width: 150px;
  white-space:nowrap;
}

.reportedPostTableLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.reportedPostTableLink:hover {
  text-decoration: underline;
}



.reportedPostContainer {
  display: flex;
  margin: 30px 30px 30px 30px;
  width: 100%;
  height:1000px ;
  justify-content: center;
}

.reportedPostSidebar {
  border: solid 2px;
  border-color: #ffffff;
  margin: 10px 20px 10px 10px;
  min-width: 200px;
}

.reportedPostContent {
  background-color: white;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  border: solid 2px;
  border-color: #ffffff;
  min-width: 500px;
  width: 1080px;
  box-sizing: border-box;
  overflow-y: auto;
}





.reportedPostMainContainer {
  padding: 20px;
}

.reportedPostPageControlButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportedPostSearchContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.reportedPostStatusFilter, .reportedPostSearchCategory, .reportedPostSearchTerm {
  width: 100%;
}

.reportedPostSearchButton {
  height: 56px;
  width: 100%;
  background-color: #5A8AF2;
  color: white;
}

.reportedPostTitle {
  margin: 15px;
  white-space: nowrap;
  font-size: 40px;
}

.reportedPostTitleCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.reportedPostIdCell {
  width: 10%; /* 신고 번호 셀 너비 */
}

.reportedPostTitleCell {
  width: 45%; /* 게시글 제목 셀 너비 */
}

.reportedPostAuthorCell {
  width: 10%; /* 작성자 셀 너비 */
}

.reportedPostReporterCell {
  width: 10%; /* 신고자 셀 너비 */
}

.reportedPostDateCell {
  width: 25%; /* 신고 날짜 셀 너비 */
}