/* 전체 컨테이너 스타일 */
.adminNoticeDetailsContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* 공지사항 카드 스타일 */
  .adminNoticeDetailsPaper {
    padding: 20px;
    max-width: 1000px;
    width: 100%;
  }
  
  /* 공지사항 제목 스타일 */
  .adminNoticeDetailsHeader {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  /* 공지사항 날짜 스타일 */
  .adminNoticeDetailsDate {
    color: gray;
  }
  
  /* 공지사항 내용 스타일 */
  .adminNoticeDetailsContent {
    white-space: pre-wrap;
    line-height: 1.6;
    font-size: inherit;
  }
  
  /* Quill 에디터에서 생성된 콘텐츠에 대한 스타일 */
  .quillContent {
    font-size: 16px;
  }
  
  /* 툴바 크기 조절 */
  .ql-toolbar.ql-snow {
    height: 50px;
    font-size: 1.1rem;
  }
  
  .ql-toolbar.ql-snow .ql-picker-label, 
  .ql-toolbar.ql-snow .ql-picker-item {
    padding: 10px;
  }
  
  .ql-toolbar.ql-snow .ql-formats button, 
  .ql-toolbar.ql-snow .ql-formats .ql-picker {
    font-size: 1.1rem;
    padding: 5px;
  }
  
  /* 버튼 컨테이너 스타일 */
  .adminNoticeDetailsButtonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* 저장하기 버튼 스타일 */
  .adminNoticeSaveButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
  }
  
  /* 수정하기 버튼 스타일 */
  .adminNoticeEditButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
  }
  
  /* 삭제하기 버튼 스타일 */
  .adminNoticeDeleteButton {
    background-color: red;
    margin-right: 10px;
    color: white;
  }
  
  /* 목록으로 돌아가기 버튼 스타일 */
  .adminNoticeListButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
  }
  