/* 전체 컨테이너 스타일 */
.adminAdminNoticeDetailsContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* 공지사항 카드 스타일 */
.adminAdminNoticeDetailsPaper {
    padding: 20px;
    max-width: 1000px;
    width: 100%;
}

/* 공지사항 제목 스타일 */
.adminAdminNoticeDetailsHeader {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* 공지사항 날짜 스타일 */
.adminAdminNoticeDetailsDate {
    color: gray;
}

/* 공지사항 내용 스타일 */
.adminAdminNoticeDetailsContent {
    white-space: pre-wrap;
    line-height: 1.6;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 300px;
}

/* 툴바 크기 조절 */
.ql-toolbar.ql-snow {
    height: 50px;
    font-size: 1.1rem;
}

.ql-toolbar.ql-snow .ql-picker-label, 
.ql-toolbar.ql-snow .ql-picker-item {
    padding: 10px;
}

.ql-toolbar.ql-snow .ql-formats button, 
.ql-toolbar.ql-snow .ql-formats .ql-picker {
    font-size: 1.1rem;
    padding: 5px;
}

/* 버튼 컨테이너 스타일 */
.adminAdminNoticeDetailsButtonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/* 저장하기 버튼 스타일 */
.adminAdminNoticeSaveButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}

/* 수정하기 버튼 스타일 */
.adminAdminNoticeEditButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}

/* 삭제하기 버튼 스타일 */
.adminAdminNoticeDeleteButton {
    background-color: red;
    margin-right: 10px;
    color: white;
}

/* 목록으로 돌아가기 버튼 스타일 */
.adminAdminNoticeListButton {
    margin-right: 10px;
    background-color: #4A90E2;
    color: white;
}
