.reportedFinPostTableContainer {
  margin-top: 20px;
 
}

.reportedFinPostHeaderCell {
  font-weight: bold;
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: 150px;
  white-space:nowrap;
}

.reportedFinPostTableLink {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.reportedFinPostTableLink:hover {
  text-decoration: underline;
}



.reportedFinPostContainer {
  display: flex;
  margin: 30px 30px 30px 30px;
  width: 100%;
  height:1000px ;
  justify-content: center;
}

.reportedFinPostSidebar {
  border: solid 2px;
  border-color: #DEFFF5;
  margin: 10px 20px 10px 10px;
  min-width: 200px;
}

.reportedFinPostContent {
  background-color: white;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  border: solid 2px;
  border-color: #DEFFF5;
  min-width: 500px;
  width: 1080px;
  box-sizing: border-box;
  overflow-y: auto;
}





.reportedFinPostMainContainer {
  padding: 20px;
}

.reportedFinPostPageControlButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportedFinPostSearchContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.reportedFinPostStatusFilter, .reportedFinPostSearchCategory, .reportedFinPostSearchTerm {
  width: 100%;
}

.reportedFinPostSearchButton {
  height: 56px;
  width: 100%;
  background-color: #c9c9c9;
  color: white;
}

.reportedFinPostTitle {
  margin: 15px;
  white-space: nowrap;
  font-size: 40px;
}

.reportedFinPostTitleCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}