.botMessages {
  overflow-y: auto;
  padding: 1rem;
}

.messageContainer {
  display: flex;
  margin-bottom: 1rem;
  
}
.messageContentWrapper {
  display: flex;
  flex-direction: column;
}
/* .generating 상태에서 messageContent의 스타일을 조정합니다 */
.messageContainer.bot .messageContent.generating {
  padding: 0.5rem 1rem;
  width: 50%; /* 전체 너비 사용 */
  box-sizing: border-box; /* padding을 포함한 전체 너비 계산 */
  overflow: hidden; /* 텍스트가 삐져나오지 않도록 설정 */
}

.userAvatar, .botAvatar {
  font-size: 2rem; /* 아이콘 크기를 키웁니다 */
  display: flex;
  align-items: flex-end;
}

.userAvatar {
  margin-left: 0.5rem; 
}
.botAvatar {
  margin-right: 0.5rem;
}

.messageContent {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.messageContainer.user .messageContent {
  background-color: #e7f3ff;
  color: #0056b3;
}

.messageContainer.bot .messageContent {
  background-color: #f3f4f6;
  color: #1f2937;
}

.user .messageContentWrapper {
  align-items: flex-end;
}

.bot .messageContentWrapper {
  align-items: flex-start;
}

.messageActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.messageTime {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-end;
}

.feedbackButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.feedbackButton.active {
  color: #5A8AF2;
}
.generating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #5A8AF2;
  border-radius: 50%;
  margin: 0 3px;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

.messageContainer.user {
  flex-direction: row-reverse;
}

.typingIndicator {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin-right: 10px;
  
}

.typingDot {
  width: 10px;
  height: 10px;
  background-color: #5A8AF2;
  border-radius: 50%;
  margin: 0 3px;
  animation: typingAnimation 1.5s infinite ease-in-out; 
}

@keyframes typingAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@keyframes pulse {
  0%, 100% { transform: scale(0.8); opacity: 0.5; }
  50% { transform: scale(1.2); opacity: 1; }
}