.inputArea {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f3f4f6;
  lex-direction: column;
  position: relative;
}


.emojiPicker {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1000;
}
.emojiPickerWrapper {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1000;
}
.inputTextarea {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  resize: none;
  font-size: 1rem;
}

.inputTextarea:focus {
  outline: none;
  border-color: #5A8AF2;
}

.emojiButton,
.sendButton,
.micButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.emojiButton:hover,
.sendButton:hover,
.micButton:hover {
  background-color: #e0e0e0;
}

.micButton.listening {
  background-color: #ef4444;
  color: white;
}
.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dark .inputArea {
  background-color: #1f2937;
}

.dark .inputTextarea {
  background-color: #374151;
  color: #e5e7eb;
  border-color: #4b5563;
}

.dark .emojiButton,
.dark .sendButton,
.dark .micButton {
  background-color: #555;
  color: #fff;
}

.dark .emojiButton:hover,
.dark .sendButton:hover,
.dark .micButton:hover {
  background-color: #666;
}